* {
    margin: 0;
    padding: 0;
}

:root {
    --back: #8BDD94;
    --blue: #004EA8;
}

body {
    background-color: var(--back);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

hr {
    height: 10px;
    border: none;
    border-radius: 10px;
    background-color: #004EA8;
    margin-top: 5px;
    margin-bottom: 30px;
}

.text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px;
}

.text img {
    max-height: 165px;
}

.name {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Instrument Serif", serif;
    font-size: 45px;
    color: var(--blue);
    font-weight: normal;
}

.name h1 {
    font-size: 64px;
    text-shadow: 2px 2px #68a66f;
    font-weight: normal;
}

.name p {
    margin-top: -10px;
    font-size: 39px;
    color: black;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

.filler {
    flex-grow: 1;
}

.socials {
    display: flex;
    gap: 5px;
}

.socials img {
    max-height: 20px;
}

.social img {
    opacity: .5;
    transition: opacity .125s;
}

.social img:hover {
    opacity: 1;
    transition: opacity .125s;
}

.mail {
    display: none;
    font-family: "Instrument Serif", serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
}

.copied {
    display: none;
    background-color: white;
    color: var(--blue);
    text-shadow: none;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    margin-right: 3px;
    transition: display 1s;
}

.copied.active {
    display: inline-block;
    transition: display 1s;
}

#email:hover .mail {
    display:inline-block;
}

#email:hover img {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h2 {
    font-family: "Instrument Serif", serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 650px) {
    .text {
        flex-direction: column;
    }
}